<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>Sunset</string>
	<key>ThemeIdentifier</key>
	<string>com.kicking-cans.nnwthemes.sunset</string>
	<key>CreatorHomePage</key>
	<string>https://kicking-cans.com</string>
	<key>CreatorName</key>
	<string>Grant Brinkman</string>
	<key>Version</key>
	<integer>1</integer>
</dict>
</plist>
