/* Shared iOS and macOS CSS rules. Platform specific rules are at the bottom of this file. */

body {
	margin-left: auto;
	margin-right: auto;
	
	word-wrap: break-word;
	max-width: 44em;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.feedlink {
	font-weight: bold;
}

.headerTable {
	width: 100%;
	height: 68px;
}

.systemMessage {
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translateX(-55%) translateY(-50%);
	-webkit-user-select: none;
	cursor: default;
}

:root {
	--header-table-border-color: rgba(0, 0, 0, 0.1);
	--header-color: rgba(0, 0, 0, 0.3);
	--body-code-color: oklch(0.3022 0.16718750000000002 300);
	--system-message-color: #cbcbcb;
	--feedlink-color: oklch(0.416 0.25625 263);
	--article-title-color: #333;
	--article-date-color: oklch(0.5283 0.13281250000000003 68);
	--table-cell-border-color: lightgray;
	
	--font-article: "Atkinson Hyperlegible", -apple-system, system-ui, sans-serif, "SF Pro Text", "Arial";
	--font-mono: "Maple Mono NF", ui-monospace, Menlo, monospace, "Andale Mono";
	--code-background: oklch(0.9238 0.05468750000000002 0);
    --accent-color: oklch(0.5283 0.13281250000000003 68);
	--link-visited: oklch(0.4146 0.10312500000000004 68);

	--shadow-color: 0deg 0% 63%;
  	--shadow-elevation-low:
		0.5px 0.5px 0.8px hsl(var(--shadow-color) / 0.34),
		0.9px 0.8px 1.4px -1.2px hsl(var(--shadow-color) / 0.34),
		2.1px 2px 3.3px -2.5px hsl(var(--shadow-color) / 0.34);
  	--shadow-elevation-medium:
		0.5px 0.5px 0.8px hsl(var(--shadow-color) / 0.36),
		1.7px 1.6px 2.6px -0.8px hsl(var(--shadow-color) / 0.36),
		4.3px 4px 6.6px -1.7px hsl(var(--shadow-color) / 0.36),
		10.4px 9.8px 16.1px -2.5px hsl(var(--shadow-color) / 0.36);
  	--shadow-elevation-high:
		0.5px 0.5px 0.8px hsl(var(--shadow-color) / 0.34),
		3px 2.9px 4.7px -0.4px hsl(var(--shadow-color) / 0.34),
		5.6px 5.3px 8.7px -0.7px hsl(var(--shadow-color) / 0.34),
		9.3px 8.8px 14.4px -1.1px hsl(var(--shadow-color) / 0.34),
		14.8px 14px 22.9px -1.4px hsl(var(--shadow-color) / 0.34),
		23.1px 21.9px 35.8px -1.8px hsl(var(--shadow-color) / 0.34),
		35.1px 33.4px 54.5px -2.1px hsl(var(--shadow-color) / 0.34),
		51.8px 49.1px 80.3px -2.5px hsl(var(--shadow-color) / 0.34);
}

@media(prefers-color-scheme: dark) {
	:root {
		--header-color: oklch(0.7236 0.1498 263.02 / 75%);
		--body-code-color: oklch(0.7998 0.1296875 300);
		--body-code-block-color: oklch(0.9278 0.043750000000000004 300);
		--system-message-color: #5f5f5f;
		--feedlink-color: oklch(0.7892 0.11562500000000003 263);
		--article-title-color: #e0e0e0;
		--article-date-color: oklch(0.8584 0.13281250000000003 68);
		--table-cell-border-color: dimgray;

		--code-background: oklch(0.2259 0.009 0 / 85%);
        --accent-color: oklch(0.8584 0.13281250000000003 68);
		--link-visited: oklch(0.7972 0.20000000000000007 68);

		--shadow-color: 0deg 0% 3%;
	}
}

body .headerTable {
	border-bottom: 1px solid var(--header-table-border-color);
	color: var(--header-color);
}

body .header {
	color: var(--header-color);
}

body .header a:link, .header a:visited {
	color: var(--header-color);
}

body code {
	color: var(--body-code-color);
    border-radius: 5pt;
    border-color: var(--body-code-color);
    padding-left: 2pt;
    padding-right: 2pt;
}

body pre {
    color: var(--body-code-block-color);
    border-radius: 5pt;
    border-color: #383838;
    border-style: solid;
    border-width: 1pt;
    padding: 5pt;
}

body > .systemMessage {
	color: var(--system-message-color);
}

.feedlink a:link, .feedlink a:visited {
	color: var(--feedlink-color);
}

.avatar img {
	border-radius: 4px;
}

.feedIcon {
	border-radius: 4px;
}

.rightAlign {
	text-align: end;
}

.leftAlign {
	text-align: start;
}

.articleTitle a:link, .articleTitle a:visited {
	color: var(--article-title-color);
	margin-top: 26px;
}

.articleDateline {
	margin-bottom: 5px;
	font-weight: bold;
}

.articleDateline a:link, .articleDateline a:visited {
	color: var(--article-date-color);
}

.articleDatelineTitle {
	margin-bottom: 5px;
	font-weight: bold;
}

.articleDatelineTitle a:link, .articleDatelineTitle a:visited {
	color: var(--article-title-color);
}

.externalLink {
	margin-bottom: 5px;
	font-style: italic;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
    color: var(--feedlink-color);
}

.articleBody {
	margin-top: 20px;
	line-height: 1.6em;
}

h1 {
	line-height: 1.15em;
	font-weight: bold;
	padding-bottom: 0;
	margin-bottom: 5px;
}

pre {
	max-width: 100%;
	margin: 0;
	overflow: auto;
	overflow-y: hidden;
	word-wrap: normal;
	word-break: normal;
}

pre {
	line-height: 1.4286em;
}

code, pre {
	font-family: var(--font-mono);
	font-size: 0.9em;
	-webkit-hyphens: none;
}

pre code {
	letter-spacing: -.027em;
	font-size: 0.9375em;
}

.nnw-overflow {
	overflow-x: auto;
}

/*
 Instead of the last-child bits, border-collapse: collapse
 could have been used. However, then the inter-cell borders
 overlap the table border, which looks bad.
 */
.nnw-overflow table {
	margin-bottom: 1px;
	border-spacing: 0;
	border: 1px solid var(--secondary-accent-color);
	font-size: inherit;
}

.nnw-overflow table table {
	margin-bottom: 0;
	border: none;
}

.nnw-overflow td, .nnw-overflow th {
	-webkit-hyphens: none;
	word-break: normal;
	border: 1px solid var(--table-cell-border-color);
	border-top: none;
	border-left: none;
	padding: 5px;
}

.nnw-overflow tr :matches(td, th):last-child {
	border-right: none;
}

.nnw-overflow :matches(thead, tbody, tfoot):last-child > tr:last-child :matches(td, th) {
	border-bottom: none;
}

.nnw-overflow td pre {
	border: none;
	padding: 0;
}

.nnw-overflow table[border="0"] {
	border-width: 0;
}

img, figure, video, div, object {
	max-width: 100%;
	height: auto !important;
	margin: 0 auto;
}

img {
	border-radius: 5pt;
	box-shadow: var(--shadow-elevation-medium);
}

iframe {
	max-width: 100%;
	margin: 0 auto;
}

iframe.nnw-constrained {
	max-height: 50vw;
}

figure {
	margin-bottom: 1em;
	margin-top: 1em;
}

figcaption {
	font-size: 14px;
	line-height: 1.3em;
}

sup {
	vertical-align: top;
	position: relative;
	bottom: 0.2rem;
}

sub {
	vertical-align: bottom;
	position: relative;
	top: 0.2rem;
}

hr {
	border: 1.5px solid var(--table-cell-border-color);
}

.iframeWrap {
	position: relative;
	display: block;
	padding-top: 56.25%;
}

.iframeWrap iframe {
	position: absolute;
	top: 0;
	left: 0;
	height: 100% !important;
	width: 100% !important;
}

blockquote {
	margin-inline-start: 0;
	margin-inline-end: 0;
	padding-inline-start: 15px;
	border-inline-start: 3px solid var(--block-quote-border-color);
}

/* Feed Specific */

.feedbin--article-wrap {
	border-top: 1px solid var(--header-table-border-color);
}

/* Newsfoot theme for light mode (default) */
.newsfoot-footnote-popover {
	background: #ccc;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 3px 6px rgba(0, 0, 0, 0.25);
	color: black;
	padding: 1px;
}

.newsfoot-footnote-popover-arrow {
	background: #fafafa;
	border: 1px solid #ccc;
}

.newsfoot-footnote-popover-inner {
	background: #fafafa;
}

body a.footnote,
body a.footnote:visited,
.newsfoot-footnote-popover + a.footnote:hover {
	background: #aaa;
	color: white;
	transition: background-color 200ms ease-out;
}

a.footnote:hover,
.newsfoot-footnote-popover + a.footnote {
	background: #666;
	transition: background-color 200ms ease-out;
}

/* Newsfoot theme for dark mode */
@media screen and (prefers-color-scheme: dark) {
	.newsfoot-footnote-popover {
		background: #444;
		color: rgb(224, 224, 224);
	}

	.newsfoot-footnote-popover-arrow {
		background: #242424;
		border: 1px solid #444;
	}

	.newsfoot-footnote-popover-inner {
		background: #242424;
	}

	body a.footnote,
	body a.footnote:visited,
	.newsfoot-footnote-popover + a.footnote:hover {
		background: #aaa;
		color: white;
		transition: background-color 200ms ease-out;
	}

	a.footnote:hover,
	.newsfoot-footnote-popover + a.footnote {
		background: #666;
		transition: background-color 200ms ease-out;
	}

}

/* iOS Specific */
@supports (-webkit-touch-callout: none) {
	
	body {
		margin-top: 3px;
		margin-bottom: 20px;
		padding-left: 20px;
		padding-right: 20px;

		font-family: var(--font-article);
		/*font-size: 18px;*/

		word-break: break-word;
		-webkit-hyphens: auto;
		-webkit-text-size-adjust: none;
	}

	:root {
		color-scheme: light dark;
		font: -apple-system-body;
		/* The font-size is replaced at runtime by the dynamic type size */
		font-size: calc([[font-size]]px + 1px);
		--primary-accent-color: #086AEE;
		--secondary-accent-color: #086AEE;
		--block-quote-border-color: rgba(8, 106, 238, 0.75);
	}

	@media(prefers-color-scheme: dark) {
		:root {
			--primary-accent-color: #2D80F1;
			--secondary-accent-color: #5E9EF4;
			--block-quote-border-color: rgba(94, 158, 244, 0.75);
			--header-table-border-color: rgba(255, 255, 255, 0.2);
		}
	}

	body a, body a:visited, body a * {
		color: var(--secondary-accent-color);
	}

	body .header {
		font: -apple-system-body;
		font-size: [[font-size]]px;
	}

	body .header a:link, body .header a:visited {
		color: var(--primary-accent-color);
	}

	pre {
		border-radius: 5px;
		background: var(--code-background);
		padding: 5px;
	}

	.nnw-overflow table {
		border: 1px solid var(--secondary-accent-color);
	}

}

/* macOS Specific */
@supports not (-webkit-touch-callout: none) {
	
	body {
		margin-top: 20px;
		margin-bottom: 64px;
		padding-left: 48px;
		padding-right: 48px;
		font-family: var(--font-article);
		
	}

	.smallText {
		font-size: 14px;
	}

	.mediumText {
		font-size: 16px;
	}

	.largeText {
		font-size: 18px;
	}

	.xlargeText {
		font-size: 20px;
	}

	.xxlargeText {
		font-size: 22px;
	}

	:root {
		color-scheme: light dark;
		--block-quote-border-color: rgba(8, 106, 238, .50);
	}

	@media(prefers-color-scheme: dark) {
		:root {
			--block-quote-border-color: rgba(94, 158, 244, .50);
			--header-table-border-color: rgba(255, 255, 255, 0.1);
		}
	}

     a:visited, body a:hover {
        color: var(--link-visited);
    }

	body a {
		color: var(--accent-color);
	}

	pre {
			border-radius: 5px;
			background: var(--code-background);
			padding: 10px;
	}

	.nnw-overflow table {
		border: 1px solid var(--accent-color);
	}

}
